@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #becbd6;
    color: #3a3d45;
}

ul {
    list-style-type: disc;
    padding: 0;
    font-size: 18px;
}

li {
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: #000;
}